body {
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
}

.navbar-brand {
  color: #ffffff;
  display: block;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 2.5;
  padding: 10px;
  text-decoration: none;
}
